DATABASE="paste your mongodb atlas link here (without quotes)"
PORT=5000
SECRET_KEY="paste your secret key here (without quotes)"
JDOODLE_CLIENT_ID="paste your jdoodle client id here (without quotes)"
JDOODLE_CLIENT_SECRET="paste your jdoodle client secret here (without quotes)"
JDOODLE_URL="paste jdoodle api url here (without quotes)"